@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* background-image: url('../src/img/fondoColores.png'); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color:white;
  /* background-color: rgb(136, 275, 273); */
  background-image: linear-gradient(180deg, rgb(126, 191, 185), rgb(213, 242, 242) );
}

.image-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 60%; /* Asegurar que ocupe toda la altura del contenedor */
}

.image-container img {
  max-width: 30%; /* Asegurar que la imagen no se desborde */
  max-height: 30%; /* Asegurar que la imagen no se desborde */
  object-fit: contain; /* Ajustar la imagen al contenedor sin distorsión */
}


.content-container {
  margin-top: 80px; /* Ajusta la altura según tu barra de navegación */
}

.background-text-input {
  background-color: #D5F2F2;
}

.background-button {
  background-color:#6FBFA2 ;
}

.background-button-green {
  background-color: #5E8C88;
}

.background-text-green {
  color: #5E8C88;
}

.background-button-gre {
  background-color: #7ebfb981;
}

.background-fount {
  background-color:rgba(21, 94, 117,0.5) ;
}